@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
* {
  font-family: "HK Grotesk" !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "HK Grotesk", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}
